[alias]
st = status
cm = commit
br = branch
co = checkout
cmam = commit -a -m
camd = commit --amend -a
rh = reset --hard
mail = send-email --annotate --cover-letter

[user]
email = mumumu0722@gmail.com
name = Keisuke Nishimura

[core]
editor = vim

[sendemail]
smtpencryption = tls
smtpserver = smtp.gmail.com
smtpuser = mumumu0722@gmail.com
smtpserverport = 587
from = Keisuke Nishimura <mumumu0722@gmail.com>

[imap]
folder = "[Gmail]/Drafts"
host = imaps://imap.gmail.com
user = mumumu0722@gmail.com
port = 993
sslverify = false
