[alias]
	st = status
	cm = commit
	br = branch
	co = checkout
	cmam = commit -a -m
	camd = commit --amend -a
	rh = reset --hard

[user]
	email = keisuke.nishimura@inria.fr
	name = Keisuke Nishimura

[core]
	editor = vim

[pull]
	ff = only

[include]
	path = .gitconfig.local
